<!DOCTYPE html>
<html>
<head>
  <title>Free Mindead</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Ek+Mukta|Permanent+Marker" rel="stylesheet">
</head>
<body>
	<%= render file: '/partials/navbar.html.erb' %>

	<div class="container-fluid content-container">
		<%= yield %>
	</div>
  
  <%= render file: '/partials/footer.html.erb' %>

  <script type="text/javascript"> pathBackground(); </script>
</body>
</html>
